node-red/subflows/apply-out/apply-out.json
{
    "id": "b2028b08979e589d",
    "type": "subflow",
    "name": "apply out",
    "info": "",
    "category": "spendless",
    "in": [
        {
            "x": 60,
            "y": 40,
            "wires": [
                {
                    "id": "fe43ab9557221c93"
                }
            ]
        }
    ],
    "out": [],
    "env": [],
    "meta": {
        "module": "node-red-contrib-haondt-spend-less-subflows",
        "type": "haondt-spend-less-apply-out",
        "version": "1.0.0"
    },
    "color": "#DDAA99",
    "flows": [
        {
            "id": "fe43ab9557221c93",
            "type": "function",
            "z": "b2028b08979e589d",
            "name": "function 2",
            "func": "msg.payload = msg.spendless.response.payload;\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 180,
            "y": 40,
            "wires": [
                [
                    "cec4238c514532d1"
                ]
            ]
        },
        {
            "id": "cec4238c514532d1",
            "type": "http response",
            "z": "b2028b08979e589d",
            "name": "",
            "statusCode": "200",
            "headers": {},
            "x": 340,
            "y": 40,
            "wires": []
        }
    ]
}
